header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}
nav > ul > li {
  float: left;
  margin: 0 2% 0 2%;
}
/* Gilt immer */
section, aside {
  vertical-align: top;
}
/* Gilt bei schmall */
@media all and (min-width: 420px) {
  section, aside {
    display: inline-block;
  }
  section {
    width: 63%;
  }
  aside {
    display: inline-block;
    width: 27%;
  }
}
footer {
  margin-bottom: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
